/* FONTS: regular-400, semi-bold-600, bold-700, black-900 */

body {
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Source Sans Pro', sans-serif; */

  background-color: #efefef;

  padding: 3% 13% 5% 13%; /* TRBL */
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-bottom: 5%;

  font-weight: 400;
  font-size: 1.2em;
  /* text-transform: uppercase; */
}

.main-game-area {
  display: grid;
  grid-template-columns: 3fr 1fr;

  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 12px #cccccc;

  padding: 0% 3% 3% 3%; /* TRBL */
  margin-bottom: 3%;
  min-height: 40vh;

}
.main-guess-area {
  align-self: center;
  font-size: 4vw; /* NEED TO CONFIGURE THIS FOR RESPONSIVENESS FOR LONGER WORDS */

  /* border: solid red 1px; */
}
/* .arena {

} */
.main-warning {
  margin-top: 0px;

  visibility: hidden;
  /* visibility: hidden; */
  font-size: .4em;
}

/* HELPER AREA - GUESS REMAINING*/
.main-guess-label {
  margin-top: 20%;
  font-weight: 600;
  font-size: 1.2em;
}
.main-guess-left {
  font-weight: 600;
  font-size: 5em;
  color: red;
}
.restart {
  font-size: 1.2em;
  visibility: hidden;
}

/* INPUT - KEYBOARD */
.main-keyboard-area {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.main-select-word {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin-right: 100px;

  /* width: 60%; */
}
button {
  font-family: inherit;
  font-size: 1.8em;
  background-color: white;
  border: none;
  border-radius: 7px;
  padding:10px;
  min-width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;

  /* ANIMATION - HOVER*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
button::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
button:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.main-utility-button {
  /* justify-self: center; */
}
#input-restart {
  /* max-width: 150px;
  max-height: 80px; */
}

.test-area {
  border: solid red 1px;
}

footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;

  display: flex;
  justify-content: center;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding-bottom: 30px;
}
